<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>
  <filter>
    <filter-name>Authentication</filter-name>
    <filter-class>com.redprairie.moca.servlet.AuthenticationFilter</filter-class>
    <description>
       This filter does standard authentication
    </description>
  </filter>

  <filter-mapping>
    <filter-name>Authentication</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping> 
  
  <servlet>
    <servlet-name>SpringDispatchServlet</servlet-name>
    <display-name>Spring Dispatch Servlet</display-name>
    <servlet-class>
        org.springframework.web.servlet.DispatcherServlet
    </servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>/WEB-INF/spring/webservices.xml,/WEB-INF/spring/webservices-config.xml</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>SpringDispatchServlet</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>
</web-app>

